*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:#0407a3;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mynerve', cursive;

}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.flexme{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
}
ul{
    list-style: none;
}
nav{
    font-size: 1.5rem;
    padding: 15px;
    width: 50%;
}
.logo{
    height: 75px;
    width: 75px;
}
.logo img{
    height: auto;
    width: 100%;
}
/* h2{
    font-size: 5rem;
    margin:25px 0;
} */
h3{
    font-size: 3rem;
}
.proff{
    justify-content: center;
    align-items: center;
}
.proff h3{
    margin-right: 25px;
}
h4{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.feed h4{
    font-size: 2rem;
}
.user-intro{
    text-align: center;
}
.user-info{
    padding: 20px;
    width: 60%;
}
.user-img{
    height: 300px;
    width: 300px;
}
.edel-btn {
    display: flex;
    gap: 20px;
  }
img{
    width: auto;
    height: 300px;
}
.post{
    width: 70%;
    margin: 50px 0;
}
footer {
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  footer a {
    text-decoration: none;
    margin: 25px;
  }

  footer a:hover {
    text-decoration: underline;
  }
  .book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    grid-gap: 20px; /* gap between grid items */
  }
  .book-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    width: 300px;
    padding: 10px;
  }
  
  .book-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .book-card h3 {
    margin-top: 0;
  }
  
  .book-card p {
    margin-bottom: 5px;
  }
  
  .book-card strong {
    font-weight: bold;
  }
  